@import "base.scss";

#groupData {
    @include app;
    flex-direction: row;
}

// 左边图片
.groupBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 249px;
    height: 100%;
    background: #A3A7AA;
    -webkit-app-region: drag;
    justify-content: space-around;

    .groupImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            width: 116px;
            height: 116px;
            border: 2px solid $white;
            border-radius: 50%;
        }

        h1,
        h3 {
            color: $white;
        }
    }

    button {
        width: 150px;
        height: 32px;
        background: #f5f5f5;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        -webkit-app-region: no-drag;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: $white;
        }
    }
}

// 群主消息
.groupInfo {
    .win-setting {
        .minsize {
            background: url('../images/min_black.png');
        }

        .close {
            background: url('../images/close_black.png');
        }
    }

    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 25px 30px 0 30px;

    .groupInner {
        display: flex;
        height: 35px;
        border-bottom: 1px solid #ddd;
        justify-content: space-between;
        line-height: 35px;

        .group {
            display: flex;
            flex: 0.6;
            justify-content: space-between;
            cursor: pointer;

            li {
                font-size: 20px;
                font-weight: 400;
            }
        }

        .active {
            border-bottom: 2px solid $black;
        }

        .modifyData {
            font-size: 14px;
            font-weight: 400;
            color: #109AF2;
            position: relative;
            right: 15px;
            bottom: -4px;
            cursor: pointer;
        }
    }

    //编辑资料下拉信息
    .editData {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 15px;
        font-size: 14px;

        input,
        select,
        button {
            border: none;
            border-radius: 0px;
            border: 1px solid $gray;
        }

        input {
            text-indent: 10px;
        }

        textarea {
            border-radius: 0px;
            line-height: 20px;
            text-indent: 4px;
        }

        .groupPhoto {
            display: flex;
            margin-bottom: 20px;

            p {
                width: 42px;
                margin-right: 14px;
            }

            span {
                display: inline-block;
                width: 64px;
                height: 64px;
                margin-right: 8px;
            }

            .addImg {
                background-repeat: no-repeat;
                background-position: 14px;
                border: 1px dashed #666;
                padding: 13px;
                cursor: pointer;
            }
        }

        .editDataInfo {
            overflow: auto;

            >li {
                display: flex;
                margin-bottom: 20px;

                input,
                select {
                    height: 28px;
                }

                p {
                    width: 42px;
                    margin-right: 14px;
                }

                .groupN {
                    align-self: center;
                }

                .groupName {
                    position: relative;
                    top: 5px;
                }

                .groupClassify {
                    display: flex;
                    flex: 1;
                    margin-left: 18px;

                    select {
                        flex: 1;
                        outline: none;
                    }
                }

                .groupLabelAndAddLabel {
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    .groupLabel {
                        display: flex;
                        flex: 1;
                        justify-content: space-between;

                        input {
                            flex: 0.95;
                        }

                        button {
                            width: 68px;
                            background: $white;
                            cursor: pointer;

                            &:hover {
                                background: #ddd;
                            }
                        }
                    }

                    .addLabel {
                        display: flex;
                        text-align: left;
                        margin-top: 5px;
                        flex-wrap: wrap;

                        >span {
                            position: relative;
                            padding: 6px 12px 6px 8px;
                            background: #b0e0e6;
                            margin-right: 10px;
                            margin-bottom: 5px;

                            &:hover .img {
                                display: inline-block;
                            }
                        }

                        .img {
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 5px;
                            right: -3px;
                            display: none;
                        }
                    }
                }

                //群介绍
                .groupInstruction {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    border: 1px solid $gray;
                    position: relative;

                    textarea {
                        flex: 1;
                        border-bottom: 1px solid $gray;
                        height: 144px;
                        overflow: auto;
                    }

                    .smile {
                        display: flex;
                        justify-content: space-between;
                        padding: 1px;
                        align-items: center;

                        .img {
                            width: 18px;
                            height: 18px;
                            cursor: pointer;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            padding: 2px;

                            &:hover {
                                border: 1px solid #333;
                            }
                        }
                    }
                }
            }
        }

        .saveCancle {
            text-align: right;

            .aright {
                margin-right: 20px;
            }

            button {
                width: 70px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #333;
                background: $eee;
                cursor: pointer;

                &:hover {
                    background: #b0e0e6;
                }
            }
        }

        .emojiAll {
            border: 1px solid #ddd;
            background: $white;
            position: absolute;
            width: 104%;
            height: 117%;
            bottom: 25px;
            left: -1px;
            padding: 3px 5px;
            display: flex;

            .emojiWrap {
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                border: 1px solid #b0e0e6;
                justify-content: center;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    border: 1px solid transparent;

                    &:hover {
                        border-color: #b0e0e6;
                    }

                    span {
                        width: 23px;
                        height: 23px;
                        background-size: contain;
                    }
                }

            }
        }
    }

    //首页、成员、设置下拉列表
    .box {
        display: flex;
        flex: 1;
        overflow: auto;

        //首页
        .homePage {
            flex: 1;

            .homePage-images {
                border-bottom: 1px solid #ddd;
                padding-top: 20px;
                padding-bottom: 20px;

                span {
                    display: inline-block;
                    width: 64px;
                    height: 64px;
                }

                .addImg {
                    background-repeat: no-repeat;
                    background-position: 14px;
                    border: 1px dashed #666;
                    padding: 13px;
                    cursor: pointer;
                }
            }

            .homePage-text {
                font-size: 15px;
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    line-height: 32px;

                    p {
                        width: 45px;
                        margin-right: 15px;
                        color: #666;
                    }

                    div {
                        flex: 1;
                        display: flex;
                    }
                }

                .groupTags {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        font-size: 14px;
                        background: #12C5ED;
                        color: $white;
                        margin-right: 3px;
                        height: 22px;
                        line-height: 22px;
                        padding-right: 2px;
                        padding-left: 2px;
                    }
                }
            }

            .groupOwner {
                font-size: 15px;
                display: flex;
                flex-direction: column;
                line-height: 32px;

                p {
                    color: #666;
                }

                .img {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                }
            }
        }

        //群列表信息
        .memberList {
            padding-top: 12px;
            flex: 1;

            .adminInfo {
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 12px;
                    color: #35BFFF;
                    cursor: pointer;

                    .question {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                    }
                }

                .aleft {
                    margin-right: 35px;
                }

                .adminer {
                    font-size: 14px;
                    color: #666;
                }

                .addMember {
                    display: inline-block;
                    width: 14px;
                    height: 12px;
                    cursor: pointer;
                }
            }

            .memberInfo {
                display: flex;
                background: #eaeaea;

                margin-top: 10px;

                li {
                    flex: 1;
                    text-align: center;
                    color: #666;
                    line-height: 26px;
                }

                .member {
                    text-indent: 14px;
                    flex: 1.3;
                    text-align: left;
                }

            }

            .memberInfoList {
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow: auto;

                .memberInfoItem {
                    display: flex;
                    height: 24px;
                    line-height: 24px;

                    .admin {
                        flex: 0.2;
                        background-repeat: no-repeat;
                        background-position: 0 4px;
                        margin-left: 2px;
                    }

                    .member {

                        &:hover {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }

                    .lucency {
                        background-size: 13px;
                        background-position: 0;
                        opacity: 0;

                    }

                    .noClick {
                        pointer-events: none;
                    }

                    .adminImg {
                        flex: 1.1;
                        background-repeat: no-repeat;
                        background-position: 0;
                        text-indent: 20px;
                        text-align: left;
                    }

                    span,
                    div,
                    input {
                        flex: 1;
                        text-align: center;
                    }

                    .check {
                        .show {
                            display: block !important;
                        }

                        .show1 {
                            display: none;
                        }

                        .checkImg {
                            display: none;

                            .img {
                                display: inline-block;
                                width: 18px;
                                height: 16px;
                                margin-right: 2px;
                                cursor: pointer;
                                position: relative;
                                top: 4px;
                            }

                            .kick {
                                height: 16px;
                                position: relative;
                                top: 4px;
                                right: 3px;
                            }
                        }

                    }

                    &:hover {
                        .checkData {
                            display: none;
                        }

                        .checkImg {
                            display: block;
                        }
                    }

                    input {
                        background: none;
                        border: 1px solid transparent;
                        height: 24px;
                    }

                    .focus {
                        border-color: #666;
                        background: $white;
                    }
                }

                .bg {
                    background: #f5f5f5;
                }
            }
        }

        //设置列表
        .settingList {
            flex: 1;
            padding-top: 20px;
            padding-left: 15px;

            .settingInfo {
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    margin-bottom: 13px;

                    p:nth-child(1) {
                        width: 75px;
                        color: $gray;
                    }
                }

                .allowSearch {
                    display: flex;
                    flex-direction: column;

                    label,
                    span {
                        margin-bottom: 7px;

                        input {
                            margin-right: 5px;
                        }

                        span {
                            position: relative;
                            top: -2px;
                        }
                    }

                    button {
                        width: 60px;
                        height: 30px;
                        border: 1px solid $gray;
                        background: $white;
                    }

                    .allowSelect {
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;

                        .onlyGroupAdmin {
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}