@import "base.scss";

#craeteApp,
#modifyPassApp,
#addGroupApp,
#addFriendsApp,
#shooedOut,
#inviteGroup,
#addFriendApp {
	@include app;
	@include buttonAction;
}

.inviteEnterGroup {
	padding-left: 20px;
}
#modifyPassApp .create-option {
	margin-bottom: 10px;

	input {
		border: 1px solid #ccc;
		border-radius: 4px;
		height: 32px;
	}
}
main {
	flex: 1;
	margin-top: 30px;
	margin-left: 45px;
	cursor: default;
	.create-option {
		margin-bottom: 10px;

		span {
			font-size: 14px;
			margin-right: 20px;
			line-height: 30px;
		}
	}
	input,
	textarea,
	select {
		width: 240px;
		text-indent: 5px;
	}

	select {
		height: 32px;
	}

	textarea {
		height: 80px;
	}

	.space {
		letter-spacing: 2.4px;
	}
}
.mainInfo {
	display: flex;
	height: 80px;
	padding-top: 20px;
	padding-left: 24px;

	>img {
		height: 36px;
	}

	>p {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.tooltip {
	margin-left: 93px;
	height: 20px;
}

#btn {
	width: 100px;
	height: 24px
}