@import "base.scss";

#indexApp {
	@include app;
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 140px;
	background: $globalBgColor;
	color: $white;
	-webkit-app-region: drag;

	.user {
		-webkit-app-region: no-drag;
		flex: 1;
		display: flex;
		padding-left: 15px;
		margin-top: 5px;

		.user-avatar {
			display: flex;
			position: relative;
			width: 56px;
			height: 56px;
			-webkit-app-region: no-drag;

			.selfData {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				cursor: pointer;
				background: url("../images/avatar_2.png") center/contain;
			}

			.online {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 15px;
				height: 15px
			}
		}

		.statusList {
			position: absolute;
			top: 95px;
			left: 60px;
			width: 120px;
			padding: 5px 0;
			background: $white;
			@include borderRadius4;
			box-shadow: 0 0 5px #ccc;
			z-index: 999;
			-webkit-app-region: no-drag;

			li {
				display: flex;
				align-items: center;
				line-height: 26px;
				color: #333;
				padding-left: 15px;

				&:hover {
					background: #eee;
				}

				.img {
					width: 15px;
					height: 15px;
					margin-right: 5px;
				}
			}
		}

		.userinfo {
			flex: 1;
			margin-left: 15px;
			padding-top: 7px;

			#personalSign {
				width: 150px;
				height: 20px;
				background: #12ABFF;
				border: 1px solid transparent;
				color: white;

				&::-webkit-input-placeholder {
					color: white;
				}

				&:focus {
					border: 1px solid white;
					background: white;
					color: $black;
					border-radius: 2px;
				}

				&:hover {
					border: 1px solid white;
					border-radius: 2px;
				}

				-webkit-app-region: no-drag;
			}

			h3 {
				font-size: 16px;
				margin-bottom: 5px;

			}

			p {
				padding-right: 20px;
				@include textOverflow;
				-webkit-app-region: no-drag;

			}
		}
	}

	.search {
		position: relative;
		height: 30px;
		line-height: 30px;
		-webkit-app-region: no-drag;

		input {
			width: 100%;
			height: 100%;
			text-indent: 45px;
			color: $white;
			background: #41bcff;
			border: none;

			&::-webkit-input-placeholder {
				color: $white;
			}
		}

		.img {
			@include verticalAlign;
			left: 20px;
			width: 15px;
			height: 14px;
			background: url("../images/search.png");
		}
	}
}

#searchfriendGroup {
	overflow: auto;

	.examine {
		text-align: center;

		&:hover {
			color: $globalBgColor
		}
	}

	.hidden {
		display: none;
	}

	.show {
		display: flex;
	}

	.searchTitle {
		margin: 5px 0 5px 0;
		padding: 0 0 0 10px;
		font-size: 14px;
		color: $gray;
	}

	.hint {
		text-align: center;
	}

	li {
		div {
			padding-top: 10px;
		}

		&:hover {
			background: rgba(238, 238, 238, .6);
		}

		&.active {
			background: $eee;
		}
	}
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;

	//选择会话
	.select {
		display: flex;
		padding: 0 15px;
		border-bottom: 1px solid $eee;

		.active,
		li:hover {
			border-color: $globalBgColor;
		}

		li {
			height: 40px;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 2px solid transparent;
		}

		span {
			width: 24px;
			height: 24px
		}
	}

	.subject,
	.sub-contacts {
		flex: 1;
		overflow: auto;
		cursor: default;

		li {
			&:hover {
				background: rgba(238, 238, 238, .6);
			}

			&.active {
				background: $eee;

			}
		}
	}

	.contact-wrap {
		flex: 1;
		overflow: auto;
		cursor: default;
	}

	.session-item {
		height: 62px;
	}

	.session-item,
	.session-groups {
		display: flex;
		position: relative;
		padding-left: 15px;
		background: $white;
		@include userinfo;
	}

	.session-list {
		.date {
			position: absolute;
			right: 10px;
			top: 10px;
			color: $gray;
		}

		.unread {
			position: absolute;
			bottom: 10px;
			right: 10px;
			padding: 1px 3px 2px;
			background: red;
			border-radius: 12px;
			min-width: 20px;
			text-align: center;
			color: #fff
		}
	}

	.contact-list {

		>li>div {
			line-height: 34px;
			color: $black;
			font-size: 14px;

			.contact-total {
				margin-left: 10px;
				font-size: 12px;
			}

			&:hover {
				background: rgba(238, 238, 238, .6);
			}

		}

		i {
			display: inline-block;
			width: 30px;
			height: 30px;
			font-size: 12px;
			padding-right: 0;
			text-align: center;
		}
	}

	.contact-list {
		.iteminfo h4 {
			margin-top: 13px;
		}

		.nick {
			color: $gray;
			font-size: 12px;
			font-weight: lighter;
		}
	}

	.group-list {
		.active {
			height: 62px;

			.item-img {
				width: 42px;
				height: 42px;
			}
		}
	}

	.session-groups {
		height: 44px;

		.item-img {
			width: 30px;
			height: 30px;
		}
	}

	.session-list li,
	.group-list li {
		align-items: center;

		.iteminfo h4 {
			margin-top: 0;
		}
	}

	.session-list .iteminfo p {
		padding-right: 30px;
	}
}

.black {
	-webkit-filter: grayscale(100%);
}

footer {
	background: $white;
	border-top: 1px solid $eee;
	height: 41px;

	.setting {
		position: relative;
		padding: 0 5px;
		display: flex;

		li {
			display: flex;

			&:last-child {
				position: absolute;
				right: 5px;
			}

			&:hover {
				background: $eee;
			}

			.img {
				width: 30px;
				height: 40px;
			}

			.menu {
				background-image: url('../images/index/MainMenu.png');
			}

			.add {
				background-image: url('../images/index/adduser.png');
			}

			.settingImg {
				background-image: url('../images/setting.png');
			}
		}
	}
}

//菜单列表
.setting-list {
	position: absolute;
	left: 10px;
	bottom: 35px;
	width: 160px;
	background: $white;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	z-index: 999;

	li {
		display: flex;
		align-items: center;
		position: relative;
		height: 30px;
		text-indent: 35px;
		font-size: 14px;

		&:hover {
			background: #e2e2e3;
		}

		.img {
			@include verticalAlign;
			left: 10px;
		}
	}

	.border-bottom::after {
		content: '';
		@include posCenter;
		width: 132px;
		border-bottom: 1px solid $eee;
	}

	.modifyPass {
		width: 9px;
		height: 16px;
		background-image: url('../images/index/key.png');
	}

	.exit {
		width: 9px;
		height: 16px;
		background-image: url('../images/exit.png');
	}
}