@import "base.scss";

#SocketCloseApp {
    @include app;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background: $eee;
    button{
        height: 26px;
        padding: 0 15px;
        background: #fff;
        cursor: pointer;
        @include borderRadius4;
        &:hover{
            background: #12ABFF;
            color: $white;
        }
    }
}