<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../Plugs/Module/layer/theme/default/layer.css">
    <link rel="stylesheet" href="../../static/css/GroupChat.min.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <title>聊天窗口</title>
    <script src="/Plugs/Module/require.js" data-main="./GroupChat"></script>
</head>

<body>
    <div id="chatMainApp" v-cloak>
        <header>
            <div class="chat-user">
                <div class="userImg"></div>
                <div class="iteminfo">
                    <h4>{{Params.Name}}</h4>
                    <!-- <p>{{Params.GroupOwnerID}}</p> -->
                </div>
            </div>
            <win-setting :win="['mini', 'max', 'closeCurrent']"></win-setting>
        </header>
        <main>
            <ul class="group-nav">
                <li v-for='(item,index) in navList' class="nav-li" @click='navitem=item' :class="{active:navitem==item }"><span>{{item}}</span></li>
                <li class="nav-li" @click='groupData'><span>设置</span></li>
            </ul>
            <div class="chatting" v-show="navitem=='聊天'">
                <div class="chat-wrap">
                    <div class="chat-list" id="chatList">
                        <ul v-if="Object.keys(chatList).length &gt; 0">
                            <template>
                                <li v-for="(info,index) of chatList[Params.ID]" class="chat-item"
                                :class="{ 'mySend': info.Dir == 0, 'otherSend': info.Dir == 1 }">
                                    <div class="chatHead" v-if="info.Dir == 1" style="background: url(../../static/images/head.png);"></div>
                                <div class="chatHead" v-else style="background: url(../../static/images/head.png);"></div>
                                <span class="fail" :title="info.ErrMsg" v-if="info.Dir == 1 && info.ErrMsg"><i class="iconfont icon-point"></i></span>
								<pre class="chat-content" v-if="info.Type == 0" style="white-space:pre-wrap;" @contextmenu="msg_contextmenu($event, info, index)"
								 v-html="emotion(info)" :class="{loading: info.MsgStatus == 0}">
								</pre>
                                    <span class="chat-content" v-if="info.Type == -1">
                                        <img :src="info.Msg" :title="info.alt">
                                    </span>
                                    <span class="fail" :title="info.ErrMsg" v-if="info.Dir == 1 && info.ErrMsg"><i
                                            class="iconfont icon-point"></i></span>
                                    <!-- <pre class="chat-content" v-if="info.Type == 0" style="white-space:pre-wrap;"
                                        @contextmenu="msg_contextmenu($event, info, name)" v-html="emotion(info.Msg)"></pre> -->
                                    <span class="chat-content" v-if="info.Type == 1">
                                        <img :src="'http://file.srkj3.com'+info.Msg" alt="" @click="scaleImg($event)"
                                            onload="imgload()" @contextmenu="img_contextmenu($event, info, name)">
                                    </span>
                                    <span class="chat-content" v-if="info.Type == 2" style="min-width: 240px;"
                                        @contextmenu="file_contextmenu($event, info, name)">
                                        <div class="file">
                                            <div class="img"></div>
                                            <div class="fileInfo">
                                                <h4>{{fileName(info.Msg)}}</h4>
                                                <p v-if="info.Dir == 0">接收文件{{info.Msg.split("{")[0]}}</p>
                                                <p v-if="info.Dir == 1">成功发送文件</p>
                                            </div>
                                        </div>
                                        <ul class="open">
                                            <li @click="download(info.Msg)">下载</li>
                                        </ul>
                                    </span>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="session-send" id="send">
                        <ul class="send-setting">
                            <li title="选择表情" @click.stop="showEmoji(showEmojiWrap=!showEmojiWrap)" unselectable="on" onmousedown="return false;">
                                <span class="img emojiImg"></span>
                            </li>
                            <li title="截图" @click="screenshot">
                                <span class="img shot"></span>
                            </li>
                            <!-- <li title="震动" @click="shake(event)">
                                <span class="img shake"></span>
                            </li> -->
                            <li title="发送图片" @click="sendImg(event)">
                                <span class="img sendImg"></span>
                            </li>
                            <li title="选择文件" @click="sendFile(event)">
                                <span class="img sendFile"></span>
                            </li>
                            <!-- <li title="选择字体" @click.stop="showFontSize = !showFontSize">
                                <select @change.stop="selectFont()" class="selectFont" v-show="showFontSize">
                                    <option v-for="size in 5" :value="(size + 11)">{{size+11}}</option>
                                </select>
                                <span class="img font"></span>
                            </li> -->
                            <li title="消息记录" @click="messageLog(historyRecord=!historyRecord)">
                                <span class="img record"></span>
                            </li>
                        </ul>
                        <div type="text" class="send-info" @keydown="sendMessage" id="message" @contextmenu="send_contextmenu()"
                         contentEditable="true" ></div>
                         <!--上面添加文本框失去焦点表情自动隐藏 @blur="expressionNone" -->
                        <div class="session-setting">
                            <ul class="send-close tc">
                                <li class="close-session" @click="Me.Close(true)">关闭</li>
                                <li class="send-message" @click="sendMessage">发送(S)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contacts-show">
                    <div class="group-member-list">
                        <p>群成员 [{{Params.Size}}]</p>
                        <ul>
                            <li v-for="item in groupmember">
                                <div class="memberImg"></div>
                                <span v-if=item.VisitingCard>{{item.VisitingCard}}</span>
                                <span v-else=!item.VisitingCard>{{item.Nick }}</span>
                                <span class="admin" v-show="item.IsAdmin == 2" style="background: url(../../static/images/group/head.png) no-repeat 85%"></span>
                                <span class="admin" v-show="item.IsAdmin == 1" style="background:url(../../static/images/group/headAdmin.png) no-repeat 85%"></span>
                            </li>
                        </ul>
                    </div>
                    <!-- <button >查看资料</button> -->
                </div>
                <div class="emoji-wrap" id="emoji" v-show="showEmojiWrap" unselectable="on" onmousedown="return false;">
                    <h4>{{emojiTitle}}</h4>
                    <ul class="emoji-list" v-if="showEmojiList">
                        <li @click="selectEmoji(emoji, text)" v-for="(emoji, text) in emojiList">
                            <span class="img" :style="'background-image: url(../../static/images/emotion/' + emoji + '.png)'" :title="text"></span>
                            <!-- <img :src="'../../static/images/emotion/'+emoji+'.png'" alt="" :title="text"> -->
                        </li>
                    </ul>
                    <!-- <ul class="collect-list" v-if="showMyCollect">
                        <li @click="optionCollect(collect, index)" v-for="(collect, index) in collects" @contextmenu="collect_contextmenu(collect, index)">
                            <img :src="collect.Url">
                        </li>
                    </ul> -->
                    <ul class="tab-emoji">
                        <li @click="cutEmoji" class="active" title="经典表情">
                            <span style="background: url(../../static/images/chatMain/emoji.png);width: 18px;height: 18px;"></span>
                        </li>
                        <!-- <li @click="cutCollect" title="我的收藏">
                            <i class="iconfont icon-shoucang"></i>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="announcement" v-show="navitem=='公告'">
                <div class="announcement-main" v-if=!showeditAnnouncement>
                    <div class="news">
                        <button class="newAnnouncement" type="button" @click=showeditAnnouncement=!showeditAnnouncement>
                            <i class="iconfont icon-bian-ji"></i>发布新公告
                        </button>
                    </div>
                    <div class="announcement-title">
                        <p><span class="toTop">[置顶]</span><span class="toKnow">本群须知</span><span class="toSay">对群友们说点什么吧</span></p>
                    </div>
                    <ul>
                        <li>
                            <div class="announcement-content">
                                <h3>发票收集行动</h3>
                                <p>亲们，大家不管买什么东西消费什么，只要是能开发票的，就都叫别人开发票，打的的的士票啊，还有柜台充公交卡的定额发票啊，还有停车的停车费的发票，路桥收费站的发票，加油的燃油票都可以，等等之类的各种发票，然后把发票都交给盛娟。</p>

                            </div>
                        </li>

                        <li v-for='(item,index) in announcementlist'>
                            <div class="announcement-content">
                                <h3>{{item.head}}</h3>
                                <p>{{item.content}}</p>
                                <div class="handle">
                                    <p><span class="edit" @click='editInfo(index)'>编辑</span><span class="delete" @click='deleteInfo(index)'>删除</span></p> <span class="announcement-time">Xxxx发表于4小时前</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="editAnnouncement" v-if=showeditAnnouncement>
                    <div class="editleft">
                        <div class="img-info">

                        </div>
                    </div>
                    <div class="editright">
                        <div class="edit-info">
                            <input class="info-head" placeholder="标题(必填),4-40字" v-model=inputTitle>
                            <div class="info-plugs">
                                <label for=""><span class="face"></span>表情</label>
                                <label for=""><span class="pic"></span>图片</label>
                                <label for=""><span class="videos"></span>视频</label>
                            </div>
                            <textarea class="info-content" id="content" v-model='AnouncementContent' placeholder="正文(必填,15-500字)"
                                maxlength="500">

                            </textarea>
                            <span id="result"></span>
                        </div>
                        <div class="edit-footer">
                            <button @click=showeditAnnouncement=!showeditAnnouncement>取消</button>
                            <button @click=publish(announcementNumber)>发布新公告</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="file" v-show="navitem=='文件'">
                <div class="file-nav">
                    <p>共{{filedata.length}}个文件(已使用155K/10G)</p>
                    <div class="file-setting">
                        <div class="search"></div>
                        <input type="text" placeholder="搜索">
                        <i class="iconfont icon-piliang-copy" @click='showbox=!showbox'></i>
                        <i class="iconfont icon-gengduocaozuo" style="font-size:26px"></i>
                        <button type="button">+上传</button>
                    </div>
                </div>
                <div class="tbhead">
                    <ul>
                        <li class="type">
                            <span class="tbfile">文件</span>
                            <span class="tbtinme">更新时间</span>
                            <span class="tbsize">大小</span>
                            <span class="uploadperson">上传者</span>
                            <span class="downloadtimes">下载次数</span>
                            <span class="icon"></span>
                        </li>
                        <li class="type" v-for='(item ,index) in filedata' @click='number=index' :class='{active:number==index}'>
                            <span class="tbfile"> <input type="checkbox" v-if=showbox>{{item.file}}</span>
                            <span class="tbtinme">{{item.refreshtime}}</span>
                            <span class="tbsize">{{item.size}}</span>
                            <span class="uploadperson">{{item.uploadperson}}</span>
                            <span class="downloadtimes">{{item.downloadtimes}}</span>
                            <span class="icon"><i class="iconfont icon-down"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="file-footer" v-if="navitem=='文件'&&showbox">
            <button>下载</button>
            <button>移动</button>
            <button>另存为</button>
            <button>删除</button>
            <button>取消</button>
        </div>
        <!-- <div class="setting" v-show="navitem=='设置'">
            设置
        </div> -->

    </div>
    <script src="../../Plugs/Module/jQuery.js"></script>
</body>

</html>